.back-to-top {

	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	background: red;
	opacity: 0.9;
	display: none;

}

	.back-to-top:hover {
		opacity: 1;
		cursor: pointer;
    background: orange;

	}
  .back-to-top i {
		font-size: 25px;
		padding: 12px;
		color: #FFF;

	}
