<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 center-block">
      <h2 class="h2style well"><i class="fa fa-flag" aria-hidden="true"></i>  House Details</h2>
      <br>
      <div class="appSection  center-block text-center">
        <div class="allDataTable table-responsive text-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group btn-block" style="margin: 1% auto; ">
                  <a class="btn btn-lg btn-primary btn-block" ng-href="#/"><span class="glyphicon glyphicon-home">  </span>  Go to Homepage</a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-center">
                  <span ng-show="currentHouse.house.name.length > 0">[House Name: {{currentHouse.house.name}}] </span>
                  <span ng-show="currentHouse.house.name.length < 1 ">House Name: "Not Available"</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  House Region:
                </td>
                <td>
                  <span ng-show="currentHouse.house.region.length > 0">"{{currentHouse.house.region}}"</span>
                  <span ng-show="currentHouse.house.region.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Coat Of Arms:
                </td>
                <td>
                  <span ng-show="currentHouse.house.coatOfArms.length > 0">"{{currentHouse.house.coatOfArms}}"</span>
                  <span ng-show="currentHouse.house.coatOfArms.length < 1 ">"Not Available"</span>
                </td>
              </tr>
              <tr>
                <td>
                  House Words: </td>
                <td>
                  <span ng-show="currentHouse.house.words.length > 0">"{{currentHouse.house.words}}"</span>
                  <span ng-show="currentHouse.house.words.length < 1">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Titles:
                </td>
                <td>
                  <span ng-repeat="title in currentHouse.house.titles">#{{$index +1}}."{{title}}" <br> <br></span>
                  <span ng-show="currentHouse.house.titles.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Seats:
                </td>
                <td>
                  <span ng-repeat="seat in currentHouse.house.seats">#{{$index +1}}."{{seat}}" <br> <br></span>
                  <span ng-show="currentHouse.house.seats.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  Current Lord:
                </td>
                <td>
                  <span ng-show="currentHouse.house.currentLord.length > 0"><a ng-href="{{currentHouse.house.currentLord.replace('https://anapioficeandfire.com/api/characters','#/view-character')}}" title="View Details">
      "{{currentHouse.house.currentLord.replace('https://anapioficeandfire.com/api/characters','view-lord')}}"</a></span>
                  <span ng-show="currentHouse.house.currentLord.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Heir:
                </td>
                <td>
                  <span ng-show="currentHouse.house.heir.length > 0"><a ng-href="{{currentHouse.house.heir.replace('https://anapioficeandfire.com/api/characters','#/view-character')}}" title="View Details">
    "{{currentHouse.house.heir.replace('https://anapioficeandfire.com/api/characters','view-heir')}}"</a></span>
                  <span ng-show="currentHouse.house.heir.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Over Lord:
                </td>
                <td>
                  <span ng-show="currentHouse.house.overlord.length > 0"><a ng-href="{{currentHouse.house.overlord.replace('https://anapioficeandfire.com/api/houses','#/view-house')}}" title="View Details">
    "{{currentHouse.house.overlord.replace('https://anapioficeandfire.com/api/houses','view-overlord-house')}}"</a></span>
                  <span ng-show="currentHouse.house.overlord.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Founded:
                </td>
                <td>
                  <span ng-show="currentHouse.house.founded.length > 0">"{{currentHouse.house.founded}}"</span>
                  <span ng-show="currentHouse.house.founded.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td>
                  House Founder:
                </td>
                <td>
                  <span ng-show="currentHouse.house.founder.length > 0"><a ng-href="{{currentHouse.house.founder.replace('https://anapioficeandfire.com/api/characters','#/view-character')}}" title="View Details">
    "{{currentHouse.house.founder.replace('https://anapioficeandfire.com/api/characters','view-founder')}}"</a></span>
                  <span ng-show="currentHouse.house.founder.length < 1 ">"Not Available"</span>
                </td>
              </tr>
              <tr>
                <td>
                  House DiedOut:
                </td>
                <td>
                  <span ng-show="currentHouse.house.diedOut.length > 0">"{{currentHouse.house.diedOut}}"</span>
                  <span ng-show="currentHouse.house.diedOut.length < 1 ">"Not Available"</span>
                </td>
              </tr>
              <tr>
                <td>
                  House Ancestral Weapons:
                </td>
                <td>
                  <span ng-repeat="ancestralWeapon in currentHouse.house.ancestralWeapons">#{{$index +1}}."{{ancestralWeapon}}" <br> <br></span>
                  <span ng-show="currentHouse.house.ancestralWeapons.length < 1 ">"Not Available"</span>
                </td>
              </tr>
              <tr>
                <td>
                  House Cadet Branches:
                </td>
                <td>
                  <span ng-repeat="cadetBranch in currentHouse.house.cadetBranches">#{{$index +1}}.<a ng-href="{{cadetBranch.replace('https://anapioficeandfire.com/api/houses','#/view-house')}}" title="View Details">
    "{{cadetBranch.replace('https://anapioficeandfire.com/api/houses','view-house')}}" </a><br> <br></span>
                  <span ng-show="currentHouse.house.cadetBranches.length < 1 ">"Not Available"</span>
                </td>
              </tr>

              <tr>
                <td>
                  [House Sworn Members]
                </td>
                <td>
                  <span ng-repeat="swornMember in currentHouse.house.swornMembers">#{{$index +1}}.<a ng-href="{{swornMember.replace('https://anapioficeandfire.com/api/characters','#/view-character')}}" title="View Details">
      {{swornMember.replace('https://anapioficeandfire.com/api/characters','api/view-character')}}</a><br> <br> </span>
                  <span ng-show="currentHouse.house.swornMembers.length < 1 ">"Not Available"</span>

                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="#/" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-home"></span> Go To Homepage</a>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <!--  allDatatable end -->
        <div>
          <!-- col end -->
        </div>
        <!--  row end -->
      </div>
    </div>

    <!-- conteiner-fluid end -->